<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Mechanic Booking System</title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/vendor" rel="stylesheet" />
    <link href="/vendor" rel="stylesheet" />
    <link href="/css/style.css" , rel="stylesheet" />
    <link href="/css/style1.css" , rel="stylesheet" />
  </head>
  <body class="appointment-done">
    <video
      class="video-set"
      src="/images/Mechanic.mp4"
      autoplay
      loop
      muted
      plays-inline
    ></video>
    <div class="glass">
      <h5 class="card-title">Thank You for choosing our services!!!</h5>
      <p class="card-body">Your apointment is booked!</p>
      <p class="card-text">
        You can visit on your appointment time to get the services
      </p>
    </div>
  </body>
</html>
