<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mechanic Page</title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/style1.css" rel="stylesheet" />
  </head>

  <body class="mechanic">
    <video
      class="bg-vid"
      src="/images/mech.mp4"
      autoplay
      loop
      muted
      plays-inline
    ></video>
    <nav
      class="navbar navbar-expand-lg"
      style="background-color: rgba(15, 119, 145, 0.7)"
    >
      <a class="navbar-brand" href="mechanic-home">MECHANIC-ADMIN</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/mechanic-home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mechanic-orders">Appointments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logoutm">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-8">
          <section class="section services">
            <h2 class="text-white">Our Services</h2>
            <p class="text-white">
              At our workshop, we offer a wide range of services to keep your
              vehicle running smoothly. Our team of experienced mechanics is
              dedicated to providing top-notch service and ensuring customer
              satisfaction. Here are some of the services we offer:
            </p>
            <ul class="text-white">
              <li>Regular Maintenance and Servicing</li>
              <li>Engine Diagnostics and Repairs</li>
              <li>Brake System Services</li>
              <li>Transmission Repairs</li>
              <li>Oil Changes</li>
              <li>Tire Services</li>
              <li>Battery Replacement</li>
              <li>Exhaust System Repairs</li>

              <p>AND MUCH MORE THINGS IN JUST A SINGLE CLICK FOR APPOINTMENT</p>

              <li class="nav-item">
                <a background-color:"red"  href="/">LOGIN PAGE</a>
              </li>
            </ul>
            <p class="text-white">
              Contact us to schedule an appointment or if you have any questions
              about our services. We are here to help you with all your vehicle
              needs.
            </p>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
