
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View services</title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/vendor" rel="stylesheet" />
    <link href="/vendor" rel="stylesheet" />
    <link href="/css/style1.css" , rel="stylesheet" />
  </head>

  <body class="Services">
    <video
      class="bg-vid"
      src="/images/funnylogin.mp4"
      autoplay
      loop
      muted
      plays-inline
    ></video>
    <nav
      class="navbar navbar-expand-lg"
      style="background-color: rgba(15, 119, 145, 0.7)"
    >
      <a class="navbar-brand" href="/admin">ADMIN</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/admin">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders">Appointments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/service">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mechanic">Mechanics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/customers">Customers</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/infopage">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <section id="glass4" class="section dashboard mt-4">
            <h1 class="text-white">SERVICES</h1>
            <div class="container mt-5">
              <h2 class="text-white">Add New Service</h2>
              <form action="/Service" method="post">
                <div class="mb-3">
                  <label for="serviceName" class="form-label text-white"
                    >Service Name:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="serviceName"
                    name="serviceName"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Availability:</label>
                  <div>
                    <input
                      type="radio"
                      id="serviceAvailable"
                      name="serviceAvailability"
                      value="true"
                      checked
                    />
                    <label for="serviceAvailable">Available</label><br />
                    <input
                      type="radio"
                      id="serviceNotAvailable"
                      name="serviceAvailability"
                      value="false"
                    />
                    <label for="serviceNotAvailable">Not Available</label>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="serviceName" class="form-label text-white"
                    >Service Rating:</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="serviceName"
                    name="serviceRating"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-secondary">
                  Add Service
                </button>
              </form>
            </div>

            <table class="table table-striped mt-3">
              <thead>
                <tr>
                  <th>Service ID</th>
                  <th>Service Name</th>
                  <th>Availability</th>
                  <th>Ratings</th>
                </tr>
              </thead>
              <tbody>
                <% services.forEach((service)=> { %>
                <tr>
                  <td><%= service.o_id %></td>
                  <td><%= service.o_name %></td>
                  <td><%= service.o_availabilty ? 'Yes' : 'No' %></td>
                  <td><%= service.o_rating %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
