<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post a New Car Ad</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/css/style1.css" rel="stylesheet" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg"
      style="background-color: rgba(15, 119, 145, 0.7)"
    >
      <a class="navbar-brand" href="cars">ADMIN</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/cars">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/infopagecars">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/post-car">Post An Ad</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container mt-5">
      <h1 class="text-center text-white mb-4">Post aAA New Car Ad</h1>
    </div>
    <div class="container mt-6">
      <h2>YOUR AD IS PUBLISHED SUCCESSFULLY.........</h2>
      <h3>THANK YOU FOR CHOOSING OUR PLATFORM TO PUBLISH YOUR AD.......</h3>

      <h4>
        YOU CAN SEE YOUR PUBLISHED AD BY CLICKING HERE:
        <a class="navigation" href="/cars">CARS PAGE</a>
      </h4>
    </div>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
